.idea
/.htaccess
/upload/
logs/
/*.html
/sitemap*.xml
~*
*.log
/*.sql
Thumbs.db
.DS_Store
._.DS_Store
/robots.txt

/bitrix/coupon_activation.php

/bitrix/rss.php
/bitrix/sounds/

/bitrix/wizards/


/bitrix/cache/
/bitrix/managed_cache/
/bitrix/stack_cache/
/bitrix/html_pages/
/bitrix/blocks/
/bitrix/resize_cache/